adf-bootcamp-prd-wsy-main/pipeline/4 - ppl_foreach.json
{
	"name": "4 - ppl_foreach",
	"properties": {
		"activities": [
			{
				"name": "GTM - Busca arquivos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_text_dls",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "@pipeline().parameters.p_container_origem",
								"type": "Expression"
							},
							"p_diretorio": {
								"value": "@pipeline().parameters.p_diretorio",
								"type": "Expression"
							},
							"p_arquivo": "*.csv",
							"p_delimitador": {
								"value": "@pipeline().parameters.p_delimitador",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SVB - lista de arquivos",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GTM - Busca arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_lista_arquivos",
					"value": {
						"value": "@activity('GTM - Busca arquivos').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FHC - itera sobre a lista de arquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SVB - lista de arquivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_lista_arquivos')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3
							}
						},
						{
							"name": "SVB - Definir data_particao",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_data_particao",
								"value": {
									"value": "@convertFromUtc(utcnow(), 'E. South America Standard Time', 'yyyy/MM/dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SVB - Definir diretorio_completo",
							"description": "Atribui um valor à variável [v_diretorio_completo], a partir da concatenação do diretório destino, da coleção de origem e da data de partição.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SVB - Definir data_particao",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_diretorio_completo",
								"value": {
									"value": "@toLower(\n    concat(\n        pipeline().parameters.p_diretorio_destino,\n        variables('v_diretorio_destino'),\n        '/', \n        pipeline().parameters.p_assunto_origem,\n        if(\n            empty(variables('v_data_particao')),\n            '',\n            concat('/', variables('v_data_particao'))\n        )\n    )\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CPD - Ingere arquivo na Raw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SVB - Definir diretorio_completo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_text_dls",
									"type": "DatasetReference",
									"parameters": {
										"p_container": {
											"value": "@pipeline().parameters.p_container_origem",
											"type": "Expression"
										},
										"p_diretorio": {
											"value": "@pipeline().parameters.p_diretorio",
											"type": "Expression"
										},
										"p_arquivo": {
											"value": "@item().name",
											"type": "Expression"
										},
										"p_delimitador": {
											"value": "@pipeline().parameters.p_delimitador",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_text_dls",
									"type": "DatasetReference",
									"parameters": {
										"p_container": {
											"value": "@pipeline().parameters.p_container_destino",
											"type": "Expression"
										},
										"p_diretorio": {
											"value": "@variables('v_diretorio_completo')",
											"type": "Expression"
										},
										"p_arquivo": {
											"value": "@item().name",
											"type": "Expression"
										},
										"p_delimitador": {
											"value": "@pipeline().parameters.p_delimitador",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"p_container_origem": {
				"type": "string",
				"defaultValue": "transient"
			},
			"p_diretorio": {
				"type": "string",
				"defaultValue": "enem"
			},
			"p_arquivo": {
				"type": "string"
			},
			"p_delimitador": {
				"type": "string",
				"defaultValue": ","
			},
			"p_container_destino": {
				"type": "string",
				"defaultValue": "raw"
			},
			"p_diretorio_destino": {
				"type": "string",
				"defaultValue": "text/enem"
			},
			"p_assunto_origem": {
				"type": "string",
				"defaultValue": "prova_enem"
			}
		},
		"variables": {
			"v_lista_arquivos": {
				"type": "Array"
			},
			"v_data_particao": {
				"type": "String"
			},
			"v_diretorio_destino": {
				"type": "String"
			},
			"v_diretorio_completo": {
				"type": "String"
			},
			"v_arquivo_destino": {
				"type": "String"
			}
		},
		"folder": {
			"name": "study activities"
		},
		"annotations": []
	}
}