adf-bootcamp-prd-wsy-main/pipeline/6 - ppl_if.json
{
	"name": "6 - ppl_if",
	"properties": {
		"activities": [
			{
				"name": "IFC - listar arquivos",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(pipeline().parameters.p_deseja_listar_arquivos,'sim')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GTM - Busca arquivos",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_text_dls",
									"type": "DatasetReference",
									"parameters": {
										"p_container": {
											"value": "@pipeline().parameters.p_container_origem",
											"type": "Expression"
										},
										"p_diretorio": {
											"value": "@pipeline().parameters.p_diretorio",
											"type": "Expression"
										},
										"p_arquivo": "*.csv",
										"p_delimitador": {
											"value": "@pipeline().parameters.p_delimitador",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "SVB - lista de arquivos",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GTM - Busca arquivos",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_lista_arquivos",
								"value": {
									"value": "@activity('GTM - Busca arquivos').output.childItems",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_container_origem": {
				"type": "string",
				"defaultValue": "transient"
			},
			"p_diretorio": {
				"type": "string",
				"defaultValue": "enem"
			},
			"p_arquivo": {
				"type": "string"
			},
			"p_delimitador": {
				"type": "string",
				"defaultValue": ","
			},
			"p_deseja_listar_arquivos": {
				"type": "string",
				"defaultValue": "sim"
			}
		},
		"variables": {
			"v_lista_arquivos": {
				"type": "Array"
			},
			"v_arquivo_existe": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "study activities"
		},
		"annotations": []
	}
}